/* styles.css */
body {
    background-color: #f4f6f9;
}

.card-title {
    font-weight: bold;
}

#cy {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#recommendation-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}
